<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>    
      <!-- add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TicketMVC-20160715112952.mdf;Initial Catalog=aspnet-TicketMVC-20160715112952;Integrated Security=True" providerName="System.Data.SqlClient" />-->
      <add name="Connection" connectionString="Data Source=JUAN\LG;Initial Catalog=Manager_BCDP;user id=sa;password=sa2008" providerName="System.Data.SqlClient" />
      <add name="DBTicket" connectionString="metadata=res://*/DBTicket.csdl|res://*/DBTicket.ssdl|res://*/DBTicket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=SBDACASA;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="ConnectionMODE" connectionString="Data Source=JUAN\LG;Initial Catalog=SBDAMODE;user id=sa;password=sa2008" providerName="System.Data.SqlClient" />      
  </connectionStrings>
  <appSettings>
    <add key="DataSource" value="JUAN\LG"/>
    <add key="Catalog" value="SBDALBH"/>
    <add key="CodEmpresa" value="LBH"/>
    <add key="CodFranquicia" value="FRAN"/>
    <add key="CodUsuario" value="ADMIN"/>
    <add key="CodPuesto" value="01"/>
    <add key="Habilitar" value="NO"/>
    <add key="HabilitarLog" value="NO"/>
    <add key="HabilitarFileLog" value="NO"/>
    <add key="AjustarDiferenciaMax" value="500,0"/>
    <add key="CatalogBaco" value="BACO_BCDP"/>
    <add key="CodigoPais" value="01"/>
  </appSettings>
  
</configuration>